
/* SubjectButtons.css */
.button-container {
  display: flex;
  gap: 10px; 
}

.button {
  background-color: transparent;
  color: blue; 
  border: 1px solid blue; 
  padding: 5px 10px;
  text-decoration: none; 
}
/* SubjectButtons.css  */
.button-container-week {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-start;
}

.button {
  background-color: transparent;
  color: blue; 
  border: 1px solid blue; 
  padding: 5px 10px;
  text-decoration: none; 
}
