
/* SubjectButtons.css */
.button-container {
  display: flex;
  gap: 10px; 
}

.button {
  background-color: transparent;
  color: blue; 
  border: 1px solid blue; 
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  opacity: 0.7;
}

/* SubjectButtons.css  */
.button-container-week {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-start;
}

.button {
  background-color: transparent;
  color: blue; 
  border: 1px solid blue; 
  padding: 5px 10px;
  text-decoration: none; 
}
/* CSS Styles */
.student-grades-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.student-grades-table th, .student-grades-table td {
  border: 1px solid #333;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
